.container {
  padding: 0 2rem;
  margin-left: auto;
  margin-right: auto;
}
.container-s {
  padding: 0 8%;
  margin-left: auto;
  margin-right: auto;
}
.container-post {
  padding: 0 15%;
  margin-left: auto;
  margin-right: auto;
}
.cell {
  min-height: 120px;
}
.text-xxs {
  font-size: 10px;
  line-height: 12px;
}
.box {
  display: block;
}
.d-block {
  display: block !important;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  max-height: 60vh;
  @apply text-gray-600 cursor-default;
}
.header-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}
@media only screen and (max-width: 720px) {
  .box {
    display: none;
  }

  .cell {
    min-height: 80px;
  }
  .container-post {
    padding: 0 1.5rem;
  }
  .header-container {
    top: 26% !important;
  }
}
